<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A'</string>
		<string>AE</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B'</string>
		<string>Bdotaccent</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C'</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
	</array>
	<key>@MMK_L_D</key>
	<array>
		<string>D'</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Eth</string>
		<string>Ddotaccent</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F'</string>
		<string>Fdotaccent</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G'</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>H'</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>Hdotaccent</string>
	</array>
	<key>@MMK_L_I</key>
	<array>
		<string>I'</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K'</string>
		<string>Kcommaaccent</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L'</string>
		<string>Lacute</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
		<string>L.CAT</string>
	</array>
	<key>@MMK_L_Lcaron</key>
	<array>
		<string>Lcaron'</string>
	</array>
	<key>@MMK_L_Ldot</key>
	<array>
		<string>Ldot'</string>
	</array>
	<key>@MMK_L_M</key>
	<array>
		<string>M'</string>
		<string>Mdotaccent</string>
	</array>
	<key>@MMK_L_N</key>
	<array>
		<string>Eng'</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>O'</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P'</string>
		<string>Pdotaccent</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R'</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S'</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Sdotaccent</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T'</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Tdotaccent</string>
	</array>
	<key>@MMK_L_Thorn</key>
	<array>
		<string>Thorn'</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U'</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V'</string>
		<string>W</string>
		<string>Wcircumflex</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>X'</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z'</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a'</string>
		<string>ae</string>
		<string>agrave</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>dotlessi</string>
		<string>e</string>
		<string>egrave</string>
		<string>eogonek</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>iogonek</string>
		<string>m</string>
		<string>n</string>
		<string>ncommaaccent</string>
		<string>o</string>
		<string>oe</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>p</string>
		<string>s</string>
		<string>scedilla</string>
		<string>t</string>
		<string>tbar</string>
		<string>thorn</string>
		<string>u</string>
		<string>ugrave</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>v</string>
		<string>w</string>
		<string>y</string>
		<string>bdotaccent</string>
		<string>hdotaccent</string>
		<string>scommaaccent</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>tdotaccent</string>
		<string>zero.p</string>
		<string>five.p</string>
	</array>
	<key>@MMK_L_aacute</key>
	<array>
		<string>aacute'</string>
		<string>uhungarumlaut</string>
	</array>
	<key>@MMK_L_abreve</key>
	<array>
		<string>abreve'</string>
	</array>
	<key>@MMK_L_acircumflex</key>
	<array>
		<string>acircumflex'</string>
	</array>
	<key>@MMK_L_amacron</key>
	<array>
		<string>amacron'</string>
	</array>
	<key>@MMK_L_ampersand</key>
	<array>
		<string>slash'</string>
		<string>ampersand</string>
	</array>
	<key>@MMK_L_asterisk</key>
	<array>
		<string>asterisk'</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_L_atilde</key>
	<array>
		<string>atilde'</string>
		<string>yacute</string>
	</array>
	<key>@MMK_L_backslash</key>
	<array>
		<string>backslash'</string>
	</array>
	<key>@MMK_L_braceleft</key>
	<array>
		<string>braceleft'</string>
		<string>braceleft.u</string>
	</array>
	<key>@MMK_L_braceright</key>
	<array>
		<string>braceright'</string>
		<string>braceright.u</string>
	</array>
	<key>@MMK_L_cacute</key>
	<array>
		<string>cacute'</string>
	</array>
	<key>@MMK_L_ccaron</key>
	<array>
		<string>ccaron'</string>
		<string>sacute</string>
	</array>
	<key>@MMK_L_ccircumflex</key>
	<array>
		<string>ccircumflex'</string>
	</array>
	<key>@MMK_L_colon</key>
	<array>
		<string>colon'</string>
	</array>
	<key>@MMK_L_comma</key>
	<array>
		<string>comma'</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_L_d</key>
	<array>
		<string>d'</string>
		<string>dcroat</string>
		<string>eth</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>odieresis</string>
		<string>ddotaccent</string>
		<string>l.CAT</string>
		<string>six.p</string>
	</array>
	<key>@MMK_L_dcaron</key>
	<array>
		<string>dcaron'</string>
	</array>
	<key>@MMK_L_eacute</key>
	<array>
		<string>eacute'</string>
	</array>
	<key>@MMK_L_ebreve</key>
	<array>
		<string>ebreve'</string>
	</array>
	<key>@MMK_L_ecaron</key>
	<array>
		<string>ecaron'</string>
	</array>
	<key>@MMK_L_ecircumflex</key>
	<array>
		<string>ecircumflex'</string>
	</array>
	<key>@MMK_L_edieresis</key>
	<array>
		<string>edieresis'</string>
	</array>
	<key>@MMK_L_edotaccent</key>
	<array>
		<string>edotaccent'</string>
	</array>
	<key>@MMK_L_eight.p</key>
	<array>
		<string>eight.p'</string>
	</array>
	<key>@MMK_L_emacron</key>
	<array>
		<string>emacron'</string>
	</array>
	<key>@MMK_L_eng</key>
	<array>
		<string>eng'</string>
	</array>
	<key>@MMK_L_exclam</key>
	<array>
		<string>exclam'</string>
	</array>
	<key>@MMK_L_exclamdown</key>
	<array>
		<string>exclamdown'</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f'</string>
		<string>longs</string>
		<string>fdotaccent</string>
	</array>
	<key>@MMK_L_f_f</key>
	<array>
		<string>f_f'</string>
	</array>
	<key>@MMK_L_f_f_i</key>
	<array>
		<string>f_b'</string>
		<string>f_f_b</string>
		<string>f_f_h</string>
		<string>f_f_hcircumflex</string>
		<string>f_f_i</string>
		<string>f_f_thorn</string>
		<string>f_h</string>
		<string>f_hcircumflex</string>
		<string>f_thorn</string>
	</array>
	<key>@MMK_L_f_i</key>
	<array>
		<string>f_i'</string>
	</array>
	<key>@MMK_L_f_j</key>
	<array>
		<string>f_f_j'</string>
		<string>f_j</string>
	</array>
	<key>@MMK_L_f_l</key>
	<array>
		<string>f_f_l'</string>
		<string>f_l</string>
	</array>
	<key>@MMK_L_fraction</key>
	<array>
		<string>fraction'</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g'</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
	</array>
	<key>@MMK_L_germandbls</key>
	<array>
		<string>adieresis'</string>
		<string>germandbls</string>
		<string>scircumflex</string>
	</array>
	<key>@MMK_L_hyphen</key>
	<array>
		<string>f_f_k'</string>
		<string>f_k</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>softhyphen</string>
		<string>afii00208</string>
		<string>uni2010</string>
		<string>uni2011</string>
	</array>
	<key>@MMK_L_hyphen.u</key>
	<array>
		<string>hyphen.u'</string>
		<string>softhyphen.u</string>
		<string>uni2010.u</string>
		<string>uni2011.u</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i'</string>
		<string>i.TRK</string>
	</array>
	<key>@MMK_L_iacute</key>
	<array>
		<string>iacute'</string>
	</array>
	<key>@MMK_L_ibreve</key>
	<array>
		<string>ibreve'</string>
		<string>ohungarumlaut</string>
	</array>
	<key>@MMK_L_icircumflex</key>
	<array>
		<string>icircumflex'</string>
	</array>
	<key>@MMK_L_ij</key>
	<array>
		<string>ij'</string>
	</array>
	<key>@MMK_L_imacron</key>
	<array>
		<string>imacron'</string>
	</array>
	<key>@MMK_L_itilde</key>
	<array>
		<string>itilde'</string>
	</array>
	<key>@MMK_L_j</key>
	<array>
		<string>j'</string>
		<string>dotlessj</string>
	</array>
	<key>@MMK_L_jcircumflex</key>
	<array>
		<string>jcircumflex'</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k'</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>z</string>
		<string>two.p</string>
		<string>three.p</string>
		<string>four.p</string>
	</array>
	<key>@MMK_L_lcaron</key>
	<array>
		<string>lcaron'</string>
	</array>
	<key>@MMK_L_ldot</key>
	<array>
		<string>ldot'</string>
	</array>
	<key>@MMK_L_logicalnot</key>
	<array>
		<string>logicalnot'</string>
		<string>plusminus</string>
	</array>
	<key>@MMK_L_mdotaccent</key>
	<array>
		<string>mdotaccent'</string>
	</array>
	<key>@MMK_L_micro</key>
	<array>
		<string>a.denom'</string>
		<string>b.denom</string>
		<string>c.denom</string>
		<string>d.denom</string>
		<string>e.denom</string>
		<string>f.denom</string>
		<string>g.denom</string>
		<string>h.denom</string>
		<string>i.denom</string>
		<string>j.denom</string>
		<string>k.denom</string>
		<string>l.denom</string>
		<string>m.denom</string>
		<string>n.denom</string>
		<string>o.denom</string>
		<string>p.denom</string>
		<string>q.denom</string>
		<string>r.denom</string>
		<string>s.denom</string>
		<string>t.denom</string>
		<string>u.denom</string>
		<string>v.denom</string>
		<string>w.denom</string>
		<string>x.denom</string>
		<string>y.denom</string>
		<string>z.denom</string>
		<string>micro</string>
	</array>
	<key>@MMK_L_nacute</key>
	<array>
		<string>nacute'</string>
	</array>
	<key>@MMK_L_napostrophe</key>
	<array>
		<string>napostrophe'</string>
	</array>
	<key>@MMK_L_ncaron</key>
	<array>
		<string>ncaron'</string>
	</array>
	<key>@MMK_L_nine.p</key>
	<array>
		<string>nine.p'</string>
	</array>
	<key>@MMK_L_ntilde</key>
	<array>
		<string>ntilde'</string>
	</array>
	<key>@MMK_L_oacute</key>
	<array>
		<string>oacute'</string>
	</array>
	<key>@MMK_L_obreve</key>
	<array>
		<string>obreve'</string>
	</array>
	<key>@MMK_L_ocircumflex</key>
	<array>
		<string>ocircumflex'</string>
	</array>
	<key>@MMK_L_one.numer</key>
	<array>
		<string>one.numer'</string>
		<string>two.numer</string>
		<string>three.numer</string>
		<string>five.numer</string>
		<string>seven.numer</string>
	</array>
	<key>@MMK_L_one.p</key>
	<array>
		<string>one.p'</string>
	</array>
	<key>@MMK_L_otilde</key>
	<array>
		<string>otilde'</string>
	</array>
	<key>@MMK_L_parenleft</key>
	<array>
		<string>bracketleft'</string>
		<string>parenleft</string>
		<string>bracketleft.u</string>
		<string>parenleft.u</string>
	</array>
	<key>@MMK_L_parenright</key>
	<array>
		<string>periodcentered'</string>
		<string>parenright</string>
		<string>parenright.u</string>
		<string>emdash.u</string>
		<string>endash.u</string>
		<string>guillemotleft.u</string>
		<string>guillemotright.u</string>
		<string>guilsinglleft.u</string>
		<string>guilsinglright.u</string>
		<string>afii00208.u</string>
	</array>
	<key>@MMK_L_pdotaccent</key>
	<array>
		<string>pdotaccent'</string>
	</array>
	<key>@MMK_L_q</key>
	<array>
		<string>q'</string>
	</array>
	<key>@MMK_L_question</key>
	<array>
		<string>question'</string>
	</array>
	<key>@MMK_L_quotedbl</key>
	<array>
		<string>zero'</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.u</string>
		<string>one.u</string>
		<string>two.u</string>
		<string>three.u</string>
		<string>four.u</string>
		<string>five.u</string>
		<string>six.u</string>
		<string>seven.u</string>
		<string>eight.u</string>
		<string>nine.u</string>
		<string>bullet</string>
		<string>minute</string>
		<string>numbersign</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>second</string>
		<string>underscore</string>
		<string>bracketright</string>
		<string>figuredash</string>
		<string>bracketright.u</string>
		<string>figuredash.u</string>
		<string>Euro</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>asciitilde</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>less</string>
		<string>minus</string>
		<string>multiply</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>at</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>copyright</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>degree</string>
		<string>paragraph</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>asciicircum</string>
		<string>uni2053</string>
	</array>
	<key>@MMK_L_quotereversed</key>
	<array>
		<string>quotereversed'</string>
		<string>uni201F</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r'</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_L_racute</key>
	<array>
		<string>racute'</string>
	</array>
	<key>@MMK_L_rcaron</key>
	<array>
		<string>rcaron'</string>
	</array>
	<key>@MMK_L_scaron</key>
	<array>
		<string>scaron'</string>
	</array>
	<key>@MMK_L_sdotaccent</key>
	<array>
		<string>sdotaccent'</string>
	</array>
	<key>@MMK_L_semicolon</key>
	<array>
		<string>semicolon'</string>
	</array>
	<key>@MMK_L_seven.p</key>
	<array>
		<string>seven.p'</string>
	</array>
	<key>@MMK_L_sterling</key>
	<array>
		<string>questiondown'</string>
		<string>sterling</string>
	</array>
	<key>@MMK_L_tcaron</key>
	<array>
		<string>tcaron'</string>
	</array>
	<key>@MMK_L_uacute</key>
	<array>
		<string>uacute'</string>
	</array>
	<key>@MMK_L_ubreve</key>
	<array>
		<string>ubreve'</string>
	</array>
	<key>@MMK_L_ucircumflex</key>
	<array>
		<string>ucircumflex'</string>
	</array>
	<key>@MMK_L_udieresis</key>
	<array>
		<string>cdotaccent'</string>
		<string>udieresis</string>
	</array>
	<key>@MMK_L_umacron</key>
	<array>
		<string>umacron'</string>
	</array>
	<key>@MMK_L_utilde</key>
	<array>
		<string>utilde'</string>
	</array>
	<key>@MMK_L_wcircumflex</key>
	<array>
		<string>wcircumflex'</string>
	</array>
	<key>@MMK_L_x</key>
	<array>
		<string>x'</string>
	</array>
	<key>@MMK_L_ycircumflex</key>
	<array>
		<string>ycircumflex'</string>
	</array>
	<key>@MMK_L_ydieresis</key>
	<array>
		<string>omacron'</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_L_yen</key>
	<array>
		<string>yen'</string>
	</array>
	<key>@MMK_L_zacute</key>
	<array>
		<string>zacute'</string>
	</array>
	<key>@MMK_L_zcaron</key>
	<array>
		<string>zcaron'</string>
	</array>
	<key>@MMK_L_zdotaccent</key>
	<array>
		<string>zdotaccent'</string>
	</array>
	<key>@MMK_L_zero.numer</key>
	<array>
		<string>zero.numer'</string>
		<string>four.numer</string>
		<string>six.numer</string>
		<string>eight.numer</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A'</string>
		<string>AE</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_R_C</key>
	<array>
		<string>C'</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>OE</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>hyphen.u</string>
		<string>softhyphen.u</string>
		<string>uni2010.u</string>
		<string>uni2011.u</string>
	</array>
	<key>@MMK_R_E</key>
	<array>
		<string>E'</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>Fdotaccent</string>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>H'</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>Thorn</string>
		<string>Hdotaccent</string>
	</array>
	<key>@MMK_R_I</key>
	<array>
		<string>I'</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J'</string>
		<string>Jcircumflex</string>
	</array>
	<key>@MMK_R_L</key>
	<array>
		<string>L'</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>L.CAT</string>
	</array>
	<key>@MMK_R_M</key>
	<array>
		<string>M'</string>
		<string>Mdotaccent</string>
	</array>
	<key>@MMK_R_N</key>
	<array>
		<string>Eng'</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_R_P</key>
	<array>
		<string>P'</string>
		<string>Pdotaccent</string>
	</array>
	<key>@MMK_R_R</key>
	<array>
		<string>R'</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S'</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Sdotaccent</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T'</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Tdotaccent</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X'</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>yen</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z'</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a'</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>ae</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>dotlessi</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eng</string>
		<string>eogonek</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>iacute</string>
		<string>idieresis</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcommaaccent</string>
		<string>s</string>
		<string>sacute</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>x</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>bdotaccent</string>
		<string>ddotaccent</string>
		<string>hdotaccent</string>
		<string>mdotaccent</string>
		<string>pdotaccent</string>
		<string>scommaaccent</string>
		<string>sdotaccent</string>
		<string>zero.p</string>
		<string>nine.p</string>
	</array>
	<key>@MMK_R_adieresis</key>
	<array>
		<string>adieresis'</string>
	</array>
	<key>@MMK_R_backslash</key>
	<array>
		<string>backslash'</string>
	</array>
	<key>@MMK_R_braceleft</key>
	<array>
		<string>braceleft'</string>
		<string>braceleft.u</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon'</string>
	</array>
	<key>@MMK_R_comma</key>
	<array>
		<string>comma'</string>
		<string>ellipsis</string>
		<string>period</string>
	</array>
	<key>@MMK_R_edieresis</key>
	<array>
		<string>edieresis'</string>
	</array>
	<key>@MMK_R_eight.p</key>
	<array>
		<string>eight.p'</string>
	</array>
	<key>@MMK_R_eth</key>
	<array>
		<string>eth'</string>
	</array>
	<key>@MMK_R_exclam</key>
	<array>
		<string>B'</string>
		<string>D</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Eth</string>
		<string>Bdotaccent</string>
		<string>Ddotaccent</string>
		<string>exclam</string>
	</array>
	<key>@MMK_R_exclamdown</key>
	<array>
		<string>exclamdown'</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f'</string>
		<string>j</string>
		<string>dotlessj</string>
		<string>fdotaccent</string>
		<string>f_b</string>
		<string>f_f</string>
		<string>f_f_b</string>
		<string>f_f_h</string>
		<string>f_f_hcircumflex</string>
		<string>f_f_i</string>
		<string>f_f_j</string>
		<string>f_f_k</string>
		<string>f_f_l</string>
		<string>f_f_thorn</string>
		<string>f_h</string>
		<string>f_hcircumflex</string>
		<string>f_i</string>
		<string>f_j</string>
		<string>f_k</string>
		<string>f_l</string>
		<string>f_thorn</string>
	</array>
	<key>@MMK_R_five.denom</key>
	<array>
		<string>five.denom'</string>
		<string>nine.denom</string>
	</array>
	<key>@MMK_R_five.p</key>
	<array>
		<string>five.p'</string>
	</array>
	<key>@MMK_R_fraction</key>
	<array>
		<string>fraction'</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g'</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
	</array>
	<key>@MMK_R_germandbls</key>
	<array>
		<string>germandbls'</string>
		<string>longs</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i'</string>
		<string>ij</string>
		<string>i.TRK</string>
	</array>
	<key>@MMK_R_ibreve</key>
	<array>
		<string>ibreve'</string>
	</array>
	<key>@MMK_R_icircumflex</key>
	<array>
		<string>icircumflex'</string>
		<string>scaron</string>
	</array>
	<key>@MMK_R_igrave</key>
	<array>
		<string>igrave'</string>
	</array>
	<key>@MMK_R_imacron</key>
	<array>
		<string>imacron'</string>
	</array>
	<key>@MMK_R_iogonek</key>
	<array>
		<string>iogonek'</string>
	</array>
	<key>@MMK_R_itilde</key>
	<array>
		<string>itilde'</string>
	</array>
	<key>@MMK_R_jcircumflex</key>
	<array>
		<string>jcircumflex'</string>
	</array>
	<key>@MMK_R_logicalnot</key>
	<array>
		<string>logicalnot'</string>
		<string>plusminus</string>
	</array>
	<key>@MMK_R_napostrophe</key>
	<array>
		<string>napostrophe'</string>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_R_one.denom</key>
	<array>
		<string>one.denom'</string>
		<string>three.denom</string>
	</array>
	<key>@MMK_R_one.p</key>
	<array>
		<string>one.p'</string>
	</array>
	<key>@MMK_R_parenleft</key>
	<array>
		<string>l'</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>v</string>
		<string>w</string>
		<string>wcircumflex</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>tdotaccent</string>
		<string>a.numer</string>
		<string>a.sub</string>
		<string>a.sup</string>
		<string>b.numer</string>
		<string>b.sub</string>
		<string>b.sup</string>
		<string>c.numer</string>
		<string>c.sub</string>
		<string>c.sup</string>
		<string>d.numer</string>
		<string>d.sub</string>
		<string>d.sup</string>
		<string>e.numer</string>
		<string>e.sub</string>
		<string>e.sup</string>
		<string>f.numer</string>
		<string>f.sub</string>
		<string>f.sup</string>
		<string>g.numer</string>
		<string>g.sub</string>
		<string>g.sup</string>
		<string>h.numer</string>
		<string>h.sub</string>
		<string>h.sup</string>
		<string>i.numer</string>
		<string>i.sub</string>
		<string>i.sup</string>
		<string>j.numer</string>
		<string>j.sub</string>
		<string>j.sup</string>
		<string>k.numer</string>
		<string>k.sub</string>
		<string>k.sup</string>
		<string>l.CAT</string>
		<string>l.numer</string>
		<string>l.sub</string>
		<string>l.sup</string>
		<string>m.numer</string>
		<string>m.sub</string>
		<string>m.sup</string>
		<string>n.numer</string>
		<string>n.sub</string>
		<string>n.sup</string>
		<string>o.numer</string>
		<string>o.sub</string>
		<string>o.sup</string>
		<string>p.numer</string>
		<string>p.sub</string>
		<string>p.sup</string>
		<string>q.numer</string>
		<string>q.sub</string>
		<string>q.sup</string>
		<string>r.numer</string>
		<string>r.sub</string>
		<string>r.sup</string>
		<string>s.numer</string>
		<string>s.sub</string>
		<string>s.sup</string>
		<string>t.numer</string>
		<string>t.sub</string>
		<string>t.sup</string>
		<string>u.numer</string>
		<string>u.sub</string>
		<string>u.sup</string>
		<string>v.numer</string>
		<string>v.sub</string>
		<string>v.sup</string>
		<string>w.numer</string>
		<string>w.sub</string>
		<string>w.sup</string>
		<string>x.numer</string>
		<string>x.sub</string>
		<string>x.sup</string>
		<string>y.numer</string>
		<string>y.sub</string>
		<string>y.sup</string>
		<string>z.numer</string>
		<string>z.sub</string>
		<string>z.sup</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>zero.denom</string>
		<string>zero.numer</string>
		<string>one.numer</string>
		<string>two.numer</string>
		<string>three.numer</string>
		<string>four.numer</string>
		<string>five.numer</string>
		<string>six.numer</string>
		<string>seven.numer</string>
		<string>eight.numer</string>
		<string>nine.numer</string>
		<string>two.p</string>
		<string>three.p</string>
		<string>six.p</string>
		<string>seven.p</string>
		<string>zero.sub</string>
		<string>one.sub</string>
		<string>two.sub</string>
		<string>three.sub</string>
		<string>four.sub</string>
		<string>five.sub</string>
		<string>six.sub</string>
		<string>seven.sub</string>
		<string>eight.sub</string>
		<string>nine.sub</string>
		<string>zero.sup</string>
		<string>one.sup</string>
		<string>two.sup</string>
		<string>three.sup</string>
		<string>four.sup</string>
		<string>five.sup</string>
		<string>six.sup</string>
		<string>seven.sup</string>
		<string>eight.sup</string>
		<string>nine.sup</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>onesuperior</string>
		<string>periodcentered</string>
		<string>parenleft</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>overline</string>
		<string>comma.denom</string>
		<string>comma.numer</string>
		<string>comma.sub</string>
		<string>comma.sup</string>
		<string>period.denom</string>
		<string>period.numer</string>
		<string>period.sub</string>
		<string>period.sup</string>
		<string>bracketleft.denom</string>
		<string>bracketleft.numer</string>
		<string>bracketleft.sub</string>
		<string>bracketleft.sup</string>
		<string>bracketright.denom</string>
		<string>bracketright.numer</string>
		<string>bracketright.sub</string>
		<string>bracketright.sup</string>
		<string>parenleft.denom</string>
		<string>parenleft.numer</string>
		<string>parenleft.sub</string>
		<string>parenleft.sup</string>
		<string>parenleft.u</string>
		<string>parenright.denom</string>
		<string>parenright.numer</string>
		<string>parenright.sub</string>
		<string>parenright.sup</string>
		<string>softhyphen</string>
		<string>emdash.u</string>
		<string>endash.u</string>
		<string>hyphen.denom</string>
		<string>hyphen.numer</string>
		<string>hyphen.sub</string>
		<string>hyphen.sup</string>
		<string>guillemotleft.u</string>
		<string>guillemotright.u</string>
		<string>guilsinglleft.u</string>
		<string>guilsinglright.u</string>
		<string>emquad</string>
		<string>emspace</string>
		<string>enquad</string>
		<string>enspace</string>
		<string>figurespace</string>
		<string>four-per-emspace</string>
		<string>hairspace</string>
		<string>narrownbspace</string>
		<string>nbspace</string>
		<string>punctuationspace</string>
		<string>six-per-emspace</string>
		<string>thinspace</string>
		<string>three-per-emspace</string>
		<string>zerowidthspace</string>
		<string>cent.denom</string>
		<string>cent.numer</string>
		<string>cent.sub</string>
		<string>cent.sup</string>
		<string>dollar.denom</string>
		<string>dollar.numer</string>
		<string>dollar.sub</string>
		<string>dollar.sup</string>
		<string>acutecomb</string>
		<string>gravecomb</string>
		<string>tildecomb</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>brevecomb</string>
		<string>caroncomb</string>
		<string>cedillacomb</string>
		<string>circumflexcomp</string>
		<string>commaaboverightcomb</string>
		<string>commaaccent</string>
		<string>commaturnedabovecomb</string>
		<string>dieresiscomb</string>
		<string>dotaccentcomb</string>
		<string>hungarumlautcomb</string>
		<string>macroncomb</string>
		<string>ogonekcomb</string>
		<string>ringcomb</string>
		<string>acutecomb.cap</string>
		<string>brevecomb.cap</string>
		<string>caroncomb.cap</string>
		<string>circumflexcomp.cap</string>
		<string>dieresiscomb.cap</string>
		<string>dieresiscomb.narrow</string>
		<string>dotaccentcomb.cap</string>
		<string>gravecomb.cap</string>
		<string>hungarumlautcomb.cap</string>
		<string>macroncomb.cap</string>
		<string>ringcomb.cap</string>
		<string>tildecomb.cap</string>
		<string>commaturnedmod</string>
		<string>glottalstopmod</string>
		<string>verticallinemod</string>
		<string>afii00208</string>
		<string>afii299</string>
		<string>afii300</string>
		<string>afii301</string>
		<string>afii57929</string>
		<string>afii61664</string>
		<string>uni2010</string>
		<string>uni2011</string>
		<string>uni205F</string>
		<string>uni2060</string>
		<string>uniFEFF</string>
		<string>afii00208.u</string>
	</array>
	<key>@MMK_R_parenright</key>
	<array>
		<string>bracketright'</string>
		<string>parenright</string>
		<string>bracketright.u</string>
		<string>parenright.u</string>
	</array>
	<key>@MMK_R_questiondown</key>
	<array>
		<string>questiondown'</string>
	</array>
	<key>@MMK_R_quotedbl</key>
	<array>
		<string>V'</string>
		<string>W</string>
		<string>Wcircumflex</string>
		<string>a.denom</string>
		<string>b.denom</string>
		<string>c.denom</string>
		<string>d.denom</string>
		<string>e.denom</string>
		<string>f.denom</string>
		<string>g.denom</string>
		<string>h.denom</string>
		<string>i.denom</string>
		<string>j.denom</string>
		<string>k.denom</string>
		<string>l.denom</string>
		<string>m.denom</string>
		<string>n.denom</string>
		<string>o.denom</string>
		<string>p.denom</string>
		<string>q.denom</string>
		<string>r.denom</string>
		<string>s.denom</string>
		<string>t.denom</string>
		<string>u.denom</string>
		<string>v.denom</string>
		<string>w.denom</string>
		<string>x.denom</string>
		<string>y.denom</string>
		<string>z.denom</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.u</string>
		<string>one.u</string>
		<string>two.u</string>
		<string>three.u</string>
		<string>four.u</string>
		<string>five.u</string>
		<string>six.u</string>
		<string>seven.u</string>
		<string>eight.u</string>
		<string>nine.u</string>
		<string>asterisk</string>
		<string>bullet</string>
		<string>minute</string>
		<string>numbersign</string>
		<string>question</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>second</string>
		<string>underscore</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>figuredash</string>
		<string>quotedblleft</string>
		<string>quoteleft</string>
		<string>quotereversed</string>
		<string>braceright.u</string>
		<string>bracketleft.u</string>
		<string>figuredash.u</string>
		<string>Euro</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>sterling</string>
		<string>asciitilde</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>less</string>
		<string>minus</string>
		<string>multiply</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>ampersand</string>
		<string>at</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>copyright</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>degree</string>
		<string>paragraph</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>micro</string>
		<string>asciicircum</string>
		<string>uni201F</string>
		<string>uni2053</string>
	</array>
	<key>@MMK_R_quotesinglbase</key>
	<array>
		<string>quotedblbase'</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_R_rcaron</key>
	<array>
		<string>rcaron'</string>
	</array>
	<key>@MMK_R_semicolon</key>
	<array>
		<string>semicolon'</string>
	</array>
	<key>@MMK_R_slash</key>
	<array>
		<string>four.p'</string>
		<string>slash</string>
	</array>
	<key>@MMK_R_thorn</key>
	<array>
		<string>thorn'</string>
	</array>
	<key>@MMK_R_two.denom</key>
	<array>
		<string>two.denom'</string>
		<string>four.denom</string>
		<string>six.denom</string>
		<string>seven.denom</string>
		<string>eight.denom</string>
	</array>
</dict>
</plist>
