<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>org.robofab.glyphOrder</key>
	<array>
		<string>A</string>
		<string>AE</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eng</string>
		<string>Eogonek</string>
		<string>Eth</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>OE</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Thorn</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wcircumflex</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>ae</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>dotlessi</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eng</string>
		<string>eogonek</string>
		<string>eth</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>germandbls</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>longs</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>thorn</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wcircumflex</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>Bdotaccent</string>
		<string>Ddotaccent</string>
		<string>Fdotaccent</string>
		<string>Hdotaccent</string>
		<string>Mdotaccent</string>
		<string>Pdotaccent</string>
		<string>Scommaaccent</string>
		<string>Sdotaccent</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Tdotaccent</string>
		<string>A.c2</string>
		<string>AE.c2</string>
		<string>Aacute.c2</string>
		<string>Abreve.c2</string>
		<string>Acircumflex.c2</string>
		<string>Adieresis.c2</string>
		<string>Agrave.c2</string>
		<string>Amacron.c2</string>
		<string>Aogonek.c2</string>
		<string>Aring.c2</string>
		<string>Atilde.c2</string>
		<string>B.c2</string>
		<string>Bdotaccent.c2</string>
		<string>C.c2</string>
		<string>Cacute.c2</string>
		<string>Ccaron.c2</string>
		<string>Ccedilla.c2</string>
		<string>Ccircumflex.c2</string>
		<string>Cdotaccent.c2</string>
		<string>D.c2</string>
		<string>Dcaron.c2</string>
		<string>Dcroat.c2</string>
		<string>Ddotaccent.c2</string>
		<string>E.c2</string>
		<string>Eacute.c2</string>
		<string>Ebreve.c2</string>
		<string>Ecaron.c2</string>
		<string>Ecircumflex.c2</string>
		<string>Edieresis.c2</string>
		<string>Edotaccent.c2</string>
		<string>Egrave.c2</string>
		<string>Emacron.c2</string>
		<string>Eogonek.c2</string>
		<string>Eth.c2</string>
		<string>F.c2</string>
		<string>Fdotaccent.c2</string>
		<string>G.c2</string>
		<string>Gbreve.c2</string>
		<string>Gcircumflex.c2</string>
		<string>Gcommaaccent.c2</string>
		<string>Gdotaccent.c2</string>
		<string>H.c2</string>
		<string>Hbar.c2</string>
		<string>Hcircumflex.c2</string>
		<string>Hdotaccent.c2</string>
		<string>I.c2</string>
		<string>IJ.c2</string>
		<string>Iacute.c2</string>
		<string>Ibreve.c2</string>
		<string>Icircumflex.c2</string>
		<string>Idieresis.c2</string>
		<string>Igrave.c2</string>
		<string>Imacron.c2</string>
		<string>Iogonek.c2</string>
		<string>Itilde.c2</string>
		<string>J.c2</string>
		<string>Jcircumflex.c2</string>
		<string>K.c2</string>
		<string>Kcommaaccent.c2</string>
		<string>L.CAT</string>
		<string>L.CAT.c2</string>
		<string>L.c2</string>
		<string>Lacute.c2</string>
		<string>Lcaron.c2</string>
		<string>Lcommaaccent.c2</string>
		<string>Ldot.c2</string>
		<string>Lslash.c2</string>
		<string>M.c2</string>
		<string>Mdotaccent.c2</string>
		<string>N.c2</string>
		<string>Nacute.c2</string>
		<string>Ncaron.c2</string>
		<string>Ncommaaccent.c2</string>
		<string>Ntilde.c2</string>
		<string>O.c2</string>
		<string>OE.c2</string>
		<string>Oacute.c2</string>
		<string>Obreve.c2</string>
		<string>Ocircumflex.c2</string>
		<string>Odieresis.c2</string>
		<string>Ograve.c2</string>
		<string>Ohungarumlaut.c2</string>
		<string>Omacron.c2</string>
		<string>Oslash.c2</string>
		<string>Otilde.c2</string>
		<string>P.c2</string>
		<string>Pdotaccent.c2</string>
		<string>Q.c2</string>
		<string>R.c2</string>
		<string>Racute.c2</string>
		<string>Rcaron.c2</string>
		<string>Rcommaaccent.c2</string>
		<string>S.c2</string>
		<string>Sacute.c2</string>
		<string>Scaron.c2</string>
		<string>Scedilla.c2</string>
		<string>Scircumflex.c2</string>
		<string>Scommaaccent.c2</string>
		<string>Sdotaccent.c2</string>
		<string>T.c2</string>
		<string>Tbar.c2</string>
		<string>Tcaron.c2</string>
		<string>Tcedilla.c2</string>
		<string>Tcommaaccent.c2</string>
		<string>Tdotaccent.c2</string>
		<string>Thorn.c2</string>
		<string>U.c2</string>
		<string>Uacute.c2</string>
		<string>Ubreve.c2</string>
		<string>Ucircumflex.c2</string>
		<string>Udieresis.c2</string>
		<string>Ugrave.c2</string>
		<string>Uhungarumlaut.c2</string>
		<string>Umacron.c2</string>
		<string>Uogonek.c2</string>
		<string>Uring.c2</string>
		<string>Utilde.c2</string>
		<string>V.c2</string>
		<string>W.c2</string>
		<string>Wcircumflex.c2</string>
		<string>X.c2</string>
		<string>Y.c2</string>
		<string>Yacute.c2</string>
		<string>Ycircumflex.c2</string>
		<string>Ydieresis.c2</string>
		<string>Z.c2</string>
		<string>Zacute.c2</string>
		<string>Zcaron.c2</string>
		<string>Zdotaccent.c2</string>
		<string>bdotaccent</string>
		<string>ddotaccent</string>
		<string>dotlessj</string>
		<string>fdotaccent</string>
		<string>hdotaccent</string>
		<string>mdotaccent</string>
		<string>pdotaccent</string>
		<string>scommaaccent</string>
		<string>sdotaccent</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>tdotaccent</string>
		<string>a.denom</string>
		<string>a.numer</string>
		<string>a.sub</string>
		<string>a.sup</string>
		<string>b.denom</string>
		<string>b.numer</string>
		<string>b.sub</string>
		<string>b.sup</string>
		<string>c.denom</string>
		<string>c.numer</string>
		<string>c.sub</string>
		<string>c.sup</string>
		<string>d.denom</string>
		<string>d.numer</string>
		<string>d.sub</string>
		<string>d.sup</string>
		<string>e.denom</string>
		<string>e.numer</string>
		<string>e.sub</string>
		<string>e.sup</string>
		<string>f.denom</string>
		<string>f.numer</string>
		<string>f.sub</string>
		<string>f.sup</string>
		<string>g.denom</string>
		<string>g.numer</string>
		<string>g.sub</string>
		<string>g.sup</string>
		<string>h.denom</string>
		<string>h.numer</string>
		<string>h.sub</string>
		<string>h.sup</string>
		<string>i.TRK</string>
		<string>i.TRK.sc</string>
		<string>i.denom</string>
		<string>i.numer</string>
		<string>i.sub</string>
		<string>i.sup</string>
		<string>j.denom</string>
		<string>j.numer</string>
		<string>j.sub</string>
		<string>j.sup</string>
		<string>k.denom</string>
		<string>k.numer</string>
		<string>k.sub</string>
		<string>k.sup</string>
		<string>l.CAT</string>
		<string>l.CAT.sc</string>
		<string>l.denom</string>
		<string>l.numer</string>
		<string>l.sub</string>
		<string>l.sup</string>
		<string>m.denom</string>
		<string>m.numer</string>
		<string>m.sub</string>
		<string>m.sup</string>
		<string>n.denom</string>
		<string>n.numer</string>
		<string>n.sub</string>
		<string>n.sup</string>
		<string>o.denom</string>
		<string>o.numer</string>
		<string>o.sub</string>
		<string>o.sup</string>
		<string>p.denom</string>
		<string>p.numer</string>
		<string>p.sub</string>
		<string>p.sup</string>
		<string>q.denom</string>
		<string>q.numer</string>
		<string>q.sub</string>
		<string>q.sup</string>
		<string>r.denom</string>
		<string>r.numer</string>
		<string>r.sub</string>
		<string>r.sup</string>
		<string>s.denom</string>
		<string>s.numer</string>
		<string>s.sub</string>
		<string>s.sup</string>
		<string>t.denom</string>
		<string>t.numer</string>
		<string>t.sub</string>
		<string>t.sup</string>
		<string>u.denom</string>
		<string>u.numer</string>
		<string>u.sub</string>
		<string>u.sup</string>
		<string>v.denom</string>
		<string>v.numer</string>
		<string>v.sub</string>
		<string>v.sup</string>
		<string>w.denom</string>
		<string>w.numer</string>
		<string>w.sub</string>
		<string>w.sup</string>
		<string>x.denom</string>
		<string>x.numer</string>
		<string>x.sub</string>
		<string>x.sup</string>
		<string>y.denom</string>
		<string>y.numer</string>
		<string>y.sub</string>
		<string>y.sup</string>
		<string>z.denom</string>
		<string>z.numer</string>
		<string>z.sub</string>
		<string>z.sup</string>
		<string>f_b</string>
		<string>f_f</string>
		<string>f_f_b</string>
		<string>f_f_h</string>
		<string>f_f_hcircumflex</string>
		<string>f_f_i</string>
		<string>f_f_j</string>
		<string>f_f_k</string>
		<string>f_f_l</string>
		<string>f_f_thorn</string>
		<string>f_h</string>
		<string>f_hcircumflex</string>
		<string>f_i</string>
		<string>f_j</string>
		<string>f_k</string>
		<string>f_l</string>
		<string>f_thorn</string>
		<string>a.sc</string>
		<string>aacute.sc</string>
		<string>abreve.sc</string>
		<string>acircumflex.sc</string>
		<string>adieresis.sc</string>
		<string>ae.sc</string>
		<string>agrave.sc</string>
		<string>amacron.sc</string>
		<string>aogonek.sc</string>
		<string>aring.sc</string>
		<string>atilde.sc</string>
		<string>b.sc</string>
		<string>bdotaccent.sc</string>
		<string>c.sc</string>
		<string>cacute.sc</string>
		<string>ccaron.sc</string>
		<string>ccedilla.sc</string>
		<string>ccircumflex.sc</string>
		<string>cdotaccent.sc</string>
		<string>d.sc</string>
		<string>dcaron.sc</string>
		<string>dcroat.sc</string>
		<string>ddotaccent.sc</string>
		<string>e.sc</string>
		<string>eacute.sc</string>
		<string>ebreve.sc</string>
		<string>ecaron.sc</string>
		<string>ecircumflex.sc</string>
		<string>edieresis.sc</string>
		<string>edotaccent.sc</string>
		<string>egrave.sc</string>
		<string>emacron.sc</string>
		<string>eogonek.sc</string>
		<string>eth.sc</string>
		<string>f.sc</string>
		<string>fdotaccent.sc</string>
		<string>g.sc</string>
		<string>gbreve.sc</string>
		<string>gcircumflex.sc</string>
		<string>gcommaaccent.sc</string>
		<string>gdotaccent.sc</string>
		<string>h.sc</string>
		<string>hbar.sc</string>
		<string>hcircumflex.sc</string>
		<string>hdotaccent.sc</string>
		<string>i.sc</string>
		<string>iacute.sc</string>
		<string>ibreve.sc</string>
		<string>icircumflex.sc</string>
		<string>idieresis.sc</string>
		<string>igrave.sc</string>
		<string>ij.sc</string>
		<string>imacron.sc</string>
		<string>iogonek.sc</string>
		<string>itilde.sc</string>
		<string>j.sc</string>
		<string>jcircumflex.sc</string>
		<string>k.sc</string>
		<string>kcommaaccent.sc</string>
		<string>l.sc</string>
		<string>lacute.sc</string>
		<string>lcaron.sc</string>
		<string>lcommaaccent.sc</string>
		<string>ldot.sc</string>
		<string>lslash.sc</string>
		<string>m.sc</string>
		<string>mdotaccent.sc</string>
		<string>n.sc</string>
		<string>nacute.sc</string>
		<string>ncaron.sc</string>
		<string>ncommaaccent.sc</string>
		<string>ntilde.sc</string>
		<string>o.sc</string>
		<string>oacute.sc</string>
		<string>obreve.sc</string>
		<string>ocircumflex.sc</string>
		<string>odieresis.sc</string>
		<string>oe.sc</string>
		<string>ograve.sc</string>
		<string>ohungarumlaut.sc</string>
		<string>omacron.sc</string>
		<string>oslash.sc</string>
		<string>otilde.sc</string>
		<string>p.sc</string>
		<string>pdotaccent.sc</string>
		<string>q.sc</string>
		<string>r.sc</string>
		<string>racute.sc</string>
		<string>rcaron.sc</string>
		<string>rcommaaccent.sc</string>
		<string>s.sc</string>
		<string>sacute.sc</string>
		<string>scaron.sc</string>
		<string>scedilla.sc</string>
		<string>scircumflex.sc</string>
		<string>scommaaccent.sc</string>
		<string>sdotaccent.sc</string>
		<string>t.sc</string>
		<string>tbar.sc</string>
		<string>tcaron.sc</string>
		<string>tcedilla.sc</string>
		<string>tcommaaccent.sc</string>
		<string>tdotaccent.sc</string>
		<string>thorn.sc</string>
		<string>u.sc</string>
		<string>uacute.sc</string>
		<string>ubreve.sc</string>
		<string>ucircumflex.sc</string>
		<string>udieresis.sc</string>
		<string>ugrave.sc</string>
		<string>uhungarumlaut.sc</string>
		<string>umacron.sc</string>
		<string>uogonek.sc</string>
		<string>uring.sc</string>
		<string>utilde.sc</string>
		<string>v.sc</string>
		<string>w.sc</string>
		<string>wcircumflex.sc</string>
		<string>x.sc</string>
		<string>y.sc</string>
		<string>yacute.sc</string>
		<string>ycircumflex.sc</string>
		<string>ydieresis.sc</string>
		<string>z.sc</string>
		<string>zacute.sc</string>
		<string>zcaron.sc</string>
		<string>zdotaccent.sc</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>fraction</string>
		<string>zero.denom</string>
		<string>one.denom</string>
		<string>two.denom</string>
		<string>three.denom</string>
		<string>four.denom</string>
		<string>five.denom</string>
		<string>six.denom</string>
		<string>seven.denom</string>
		<string>eight.denom</string>
		<string>nine.denom</string>
		<string>zero.numer</string>
		<string>one.numer</string>
		<string>two.numer</string>
		<string>three.numer</string>
		<string>four.numer</string>
		<string>five.numer</string>
		<string>six.numer</string>
		<string>seven.numer</string>
		<string>eight.numer</string>
		<string>nine.numer</string>
		<string>zero.p</string>
		<string>one.p</string>
		<string>two.p</string>
		<string>three.p</string>
		<string>four.p</string>
		<string>five.p</string>
		<string>six.p</string>
		<string>seven.p</string>
		<string>eight.p</string>
		<string>nine.p</string>
		<string>zero.sub</string>
		<string>one.sub</string>
		<string>two.sub</string>
		<string>three.sub</string>
		<string>four.sub</string>
		<string>five.sub</string>
		<string>six.sub</string>
		<string>seven.sub</string>
		<string>eight.sub</string>
		<string>nine.sub</string>
		<string>zero.sup</string>
		<string>one.sup</string>
		<string>two.sup</string>
		<string>three.sup</string>
		<string>four.sup</string>
		<string>five.sup</string>
		<string>six.sup</string>
		<string>seven.sup</string>
		<string>eight.sup</string>
		<string>nine.sup</string>
		<string>zero.u</string>
		<string>one.u</string>
		<string>two.u</string>
		<string>three.u</string>
		<string>four.u</string>
		<string>five.u</string>
		<string>six.u</string>
		<string>seven.u</string>
		<string>eight.u</string>
		<string>nine.u</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>onesuperior</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>minute</string>
		<string>numbersign</string>
		<string>period</string>
		<string>periodcentered</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>second</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>figuredash</string>
		<string>hyphen</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quotereversed</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>overline</string>
		<string>comma.denom</string>
		<string>comma.numer</string>
		<string>comma.sub</string>
		<string>comma.sup</string>
		<string>period.denom</string>
		<string>period.numer</string>
		<string>period.sub</string>
		<string>period.sup</string>
		<string>braceleft.u</string>
		<string>braceright.u</string>
		<string>bracketleft.denom</string>
		<string>bracketleft.numer</string>
		<string>bracketleft.sub</string>
		<string>bracketleft.sup</string>
		<string>bracketleft.u</string>
		<string>bracketright.denom</string>
		<string>bracketright.numer</string>
		<string>bracketright.sub</string>
		<string>bracketright.sup</string>
		<string>bracketright.u</string>
		<string>parenleft.denom</string>
		<string>parenleft.numer</string>
		<string>parenleft.sub</string>
		<string>parenleft.sup</string>
		<string>parenleft.u</string>
		<string>parenright.denom</string>
		<string>parenright.numer</string>
		<string>parenright.sub</string>
		<string>parenright.sup</string>
		<string>parenright.u</string>
		<string>softhyphen</string>
		<string>emdash.u</string>
		<string>endash.u</string>
		<string>figuredash.u</string>
		<string>hyphen.denom</string>
		<string>hyphen.numer</string>
		<string>hyphen.sub</string>
		<string>hyphen.sup</string>
		<string>hyphen.u</string>
		<string>softhyphen.u</string>
		<string>guillemotleft.u</string>
		<string>guillemotright.u</string>
		<string>guilsinglleft.u</string>
		<string>guilsinglright.u</string>
		<string>space</string>
		<string>emquad</string>
		<string>emspace</string>
		<string>enquad</string>
		<string>enspace</string>
		<string>figurespace</string>
		<string>four-per-emspace</string>
		<string>hairspace</string>
		<string>narrownbspace</string>
		<string>nbspace</string>
		<string>punctuationspace</string>
		<string>six-per-emspace</string>
		<string>thinspace</string>
		<string>three-per-emspace</string>
		<string>zerowidthspace</string>
		<string>Euro</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>sterling</string>
		<string>yen</string>
		<string>asciitilde</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>less</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>multiply</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>ampersand</string>
		<string>at</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>copyright</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>degree</string>
		<string>paragraph</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>cent.denom</string>
		<string>cent.numer</string>
		<string>cent.sub</string>
		<string>cent.sup</string>
		<string>dollar.denom</string>
		<string>dollar.numer</string>
		<string>dollar.sub</string>
		<string>dollar.sup</string>
		<string>micro</string>
		<string>ampersand.c2</string>
		<string>acutecomb</string>
		<string>gravecomb</string>
		<string>tildecomb</string>
		<string>asciicircum</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>brevecomb</string>
		<string>caroncomb</string>
		<string>cedillacomb</string>
		<string>circumflexcomp</string>
		<string>commaaboverightcomb</string>
		<string>commaaccent</string>
		<string>commaturnedabovecomb</string>
		<string>dieresiscomb</string>
		<string>dotaccentcomb</string>
		<string>hungarumlautcomb</string>
		<string>macroncomb</string>
		<string>ogonekcomb</string>
		<string>ringcomb</string>
		<string>acutecomb.cap</string>
		<string>brevecomb.cap</string>
		<string>caroncomb.cap</string>
		<string>circumflexcomp.cap</string>
		<string>dieresiscomb.cap</string>
		<string>dieresiscomb.narrow</string>
		<string>dotaccentcomb.cap</string>
		<string>gravecomb.cap</string>
		<string>hungarumlautcomb.cap</string>
		<string>macroncomb.cap</string>
		<string>ringcomb.cap</string>
		<string>tildecomb.cap</string>
		<string>commaturnedmod</string>
		<string>glottalstopmod</string>
		<string>verticallinemod</string>
		<string>afii00208</string>
		<string>afii299</string>
		<string>afii300</string>
		<string>afii301</string>
		<string>afii57929</string>
		<string>afii61664</string>
		<string>uni2010</string>
		<string>uni2011</string>
		<string>uni201F</string>
		<string>uni2053</string>
		<string>uni205F</string>
		<string>uni2060</string>
		<string>uniFEFF</string>
		<string>.notdef</string>
		<string>afii00208.u</string>
		<string>uni2010.u</string>
		<string>uni2011.u</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weightValue</key>
	<real>400</real>
	<key>com.schriftgestaltung.widthValue</key>
	<real>5</real>
</dict>
</plist>
